// Specific CSS for your home-page
@import "config/colors";

.banner-container {
  // margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: whitesmoke;
}
.banner-container h2 {
margin: auto;
padding: 10px;
}
.carousel-container {
  margin: auto;
}
