<div class="banner-container">
  <h2>Explore. Discover. Collect.</h2>

      <div class="carousel-container">
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://i.guim.co.uk/img/media/ea9afa6f591b1bbeab0c34d3e2442fdd029fe8c3/0_0_3398_5144/master/3398.jpg?width=465&dpr=1&s=none" class="d-block" alt="">
            </div>
            <div class="carousel-item">
              <img src="https://i.guim.co.uk/img/media/ea9afa6f591b1bbeab0c34d3e2442fdd029fe8c3/0_0_3398_5144/master/3398.jpg?width=465&dpr=1&s=none" class="d-block" alt="">
            </div>
            <div class="carousel-item">
              <img src="https://i.guim.co.uk/img/media/ea9afa6f591b1bbeab0c34d3e2442fdd029fe8c3/0_0_3398_5144/master/3398.jpg?width=465&dpr=1&s=none" class="d-block" alt="">
            </div>
          </div>
        </div>
      </div>
</div>

<div class="info-container">
  <i class="fa-regular fa-lightbulb"></i>
  <h2>How it Works</h2>

  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.freepik.com/free-vector/watercolor-abstract-shapes-background_52683-72136.jpg)">
      <p>Browse or list art</p>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.freepik.com/free-vector/watercolor-abstract-shapes-background_52683-72136.jpg)">
      <p>Connect with buyers/sellers</p>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.freepik.com/free-vector/watercolor-abstract-shapes-background_52683-72136.jpg)">
      <p>Purchase or sell art</p>
    </div>
  </div>

</div>
