<div class="banner-container">
  <h2>Explore. Discover. Collect.</h2>

      <div class="carousel-container">
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://i.guim.co.uk/img/media/ea9afa6f591b1bbeab0c34d3e2442fdd029fe8c3/0_0_3398_5144/master/3398.jpg?width=465&dpr=1&s=none" class="d-block" alt="">
            </div>
            <div class="carousel-item">
              <img src="https://i.guim.co.uk/img/media/ea9afa6f591b1bbeab0c34d3e2442fdd029fe8c3/0_0_3398_5144/master/3398.jpg?width=465&dpr=1&s=none" class="d-block" alt="">
            </div>
            <div class="carousel-item">
              <img src="https://i.guim.co.uk/img/media/ea9afa6f591b1bbeab0c34d3e2442fdd029fe8c3/0_0_3398_5144/master/3398.jpg?width=465&dpr=1&s=none" class="d-block" alt="">
            </div>
          </div>
        </div>
      </div>

</div>
