<div class="nav-container">
  <%= link_to "Home", root_path, class: "nav-link" %>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="categoriesDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Discover
    </button>
    <div class="dropdown-menu" aria-labelledby="categoriesDropdown">
      <a class="dropdown-item" href="#">Category 1</a>
      <a class="dropdown-item" href="#">Category 2</a>
      <a class="dropdown-item" href="#">Category 3</a>
    </div>
  </div>
  <a href="#">Artists</a>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="categoriesDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Categories
    </button>
    <div class="dropdown-menu" aria-labelledby="categoriesDropdown">
      <a class="dropdown-item" href="#">Category 1</a>
      <a class="dropdown-item" href="#">Category 2</a>
      <a class="dropdown-item" href="#">Category 3</a>
    </div>
  </div>
  <a href="#">Sell-Art</a>
  <a href="#">Messages</a>
  <li class="nav-item dropdown">
    <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://media.licdn.com/dms/image/D4D03AQHioJgS1YeZMA/profile-displayphoto-shrink_400_400/0/1714124989458?e=1724889600&v=beta&t=w_gbBjAAIW3I9yUAtbRe5uJYnhGujPUBtWkZpMs1ei0" />
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
    </div>
  </li>
</div>
